/* * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  } */


  body{
    font-family: 'Press Start 2P', cursive;
    background: rgb(0,0,0);
    /* background: linear-gradient(180deg, rgba(0,0,0,0.9855129551820728) 42%, rgba(245,0,255,1) 100%);      */
    background-image: url(imagenes/a1.jpg);

}

h1{
    /* display: flex; */
    margin: auto;
    font-size: 70px;
    color: rgb(226, 10, 179);
    margin-top: 10px;
}

.contenedorH1{
    margin: auto;
    margin-bottom:50px ;
    padding-top: 10px;
    width: 900px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.473);
    border-radius: 30px;
    text-align: center;
}

form{
    margin: auto;
    align-items: center;
    background-color: rgba(255, 0, 157, 0.4);
    width: 400px;
    height: 250px;
    border-radius: 30px;
}

.contenedorInputs{
    padding-top: 50px;
    border-radius: 30px;
}

.contenedorResultado{
    background-color: rgba(0, 0, 0, 0.784);
    align-items: center;
    text-align: center;
    border-radius: 20px;
}

.resultado{
    font-size: 55px;
    text-align: center;
    align-items: center;
}


input{
    font-size: 24px;
    width: 250px;
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.666);
    color: rgb(226, 10, 179);
}

.botonCalcular{
    width: 150px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    /* color: rgb(255, 0, 212); */
    color:rgb(5, 248, 199);
    font-size: 20px;
    border-radius: 20PX;
}


footer{
    display: flex;
    justify-content: center;
    height: 100px;
    font-family: sans-serif;
    background-color: rgb(46, 45, 45);
    margin-top: 150px;
}

small{
    margin-top: 50px;
    color:gray;
}

small>b{
    color:rgb(209, 209, 197);
    margin-top: 40px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 920px) {
    h1{
        font-size: 50px;
    }

    .contenedorH1{
        width: 700px;
        height: 90px;
        padding-top: 15px;

    }
  }

  @media only screen and (max-width: 720px) {
    h1{
        font-size: 45px;
    }

    .contenedorH1{
        width: 600px;
        height: 85px;
        padding-top: 20px;
    }
  }


  @media only screen and (max-width: 630px) {
    h1{
        font-size: 35px;
    }

    .contenedorH1{
        width: 500px;
        height: 70px;
        padding-top: 20px;
    }

  }

  @media only screen and (max-width: 510px) {
    h1{
        font-size: 30px;
    }

    .contenedorH1{
        width: 400px;
        height: 60px;
        padding-top: 20px;
    }
  }

  @media only screen and (max-width: 450px) {
    h1{
        font-size: 25px;
    }

    .contenedorH1{
        width: 350px;
        height: 50px;
        padding-top: 12px;
    }

        .resultado{
        font-size: 45px;
        text-align: center;
        align-items: center;
    }

  }

  @media only screen and (max-width: 410px) {
    h1{
        font-size: 25px;
    }

    .contenedorH1{
        width: 350px;
        height: 50px;
        padding-top: 12px;
    }

    form{
        width: 350px;
        height: 250px;
    }
  }

  @media only screen and (max-width: 410px) {
    h1{
        font-size: 25px;
    }

    .contenedorH1{
        width: 300px;
        height: 50px;
        padding-top: 12px;
    }

    form{
        width: 300px;
        height: 250px;
    }
  }